---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="category">
    Category: {{ post.category }} <br>
  </div>
  <div class="tag">
    Tags:
    {% for tag in post.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}">{{ tag_name }}&nbsp;</a>
    {% endfor %}
  </div>
  
  <hr>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
